<div class="row mt-4">
  <h1>Comparação NGRX</h1>
  <div class="col-lg-6">
    <mat-list>
      <h2>Lista de Países</h2>
      @for(country of countryList$ | async; track country) {
      <mat-list-item>{{ country.name }}</mat-list-item>
      }
    </mat-list>
  </div>
  <div class="col-lg-6">
    <mat-list>
      <h2>Lista de Usuários</h2>
      @for(user of userList$ | async; track user) {
      <mat-list-item>{{ user.name }}</mat-list-item>
      }
    </mat-list>
  </div>
</div>
